ASIDE {
    color: white;
    background-color: black;
    padding: 16px;
}
BUTTON {
    color: white;
    background-color: inherit;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 3px;
    margin-right: 1em;
}
BUTTON:hover {
    background-color: darkblue;
    cursor: pointer;
}
#sprite {
  background-image: url("../images/characters.png");
  background-size: 384px 256px;
  height: 32px;
  width: 32px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: -1;
  zoom: 200%;
  display: inline-block;
}
BODY {
    margin: 0px;
}
MAIN {
    position: relative;
    padding: 16px;
    text-align: center;
}
